html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0;
    font-family: $font-family;
}

main {
    min-height: 100%;
}